.crellyslider {
	margin: 0 auto;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.5;
}

.crellyslider > .cs-preloader {
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #ddd;
}

.crellyslider > .cs-preloader > .cs-loader {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12.5px;
	margin-left: -12.5px;
	background-image: url('../images/preloader.gif');
}

.crellyslider > .cs-controls,
.crellyslider > .cs-navigation {
	z-index: 999;
	-webkit-transition: all 0.2s;
	opacity: 0;
	filter: alpha(opacity=0);
}

.crellyslider:hover > .cs-controls,
.crellyslider:hover > .cs-navigation {
	opacity: 1;
	filter: alpha(opacity=100);
}

.crellyslider > .cs-slides {
	list-style: none;
	margin: 0;
	padding: 0;
}

.crellyslider > .cs-slides > .cs-slide {
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

.crellyslider > .cs-slides > .cs-slide * {
	display: block;
	margin: 0;
	padding: 0;
}

.crellyslider > .cs-slides > .cs-slide > * {
	position: absolute;
}

.crellyslider > .cs-slides > .cs-slide > img,
.crellyslider > .cs-slides > .cs-slide > a > img {
	max-width: none !important;
}

.crellyslider > .cs-slides > .cs-slide a,
.crellyslider > .cs-slides > .cs-slide > a > img {
	text-decoration: none;
	outline: none;
	border: none;
}

.crellyslider > .cs-controls {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -9px;
	z-index: 999;
}

.crellyslider > .cs-controls > .cs-previous,
.crellyslider > .cs-controls > .cs-next {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	cursor: pointer;
	background-image: url('../images/controls.png');
}

.crellyslider > .cs-controls > .cs-previous {
	background-position: 0 0;
	left: 30px;
}

.crellyslider > .cs-controls > .cs-next {
	background-position: 18px 0;
	right: 30px;
}

.crellyslider > .cs-navigation {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.crellyslider > .cs-navigation > .cs-slide-link {
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 5px;
	cursor: pointer;
	background-image: url('../images/navigation-links.png');
	background-position: 0 0;
}

.crellyslider > .cs-navigation > .cs-slide-link.cs-active {
	background-position: -7px 0;
}

.crellyslider > .cs-progress-bar {
	width: 0%;
	height: 4px;
	position: absolute;
	top: 0;
	background-color: #fff;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 999;
}

.crellyslider > .cs-progress-bar.cs-progress-bar-hidden {
	opacity: 0;
	filter: alpha(opacity=0);
}